<div class="container-fluid container">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>

        </div>
    </div>
    
        <div class="row phones">
            <!--Body content-->

            <div ng-repeat="project in projects | filter:query | orderBy:orderProp"
                class="col-md-3">
                <a href="#/projects/{{project.id}}" class="thumb"><img ng-src="{{project.imageUrl}}"></a>
                <br /><a href="#/projects/{{project.id}}">{{project.name}}</a>
            </div>

        </div>
</div>
